NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Email каждого пользователя — определяет кто заходит (Ник или Галя)
NEXT_PUBLIC_NICK_EMAIL=
NEXT_PUBLIC_GALYA_EMAIL=
